In [14]:
import pandas as pd

In [15]:
estoque_roberto = {'Código': [1, 2, 3],
                   'Nome_Produto': ['Camisinha','Lubrificante','Plug Anal'],
                   'Qntd.': [20, 50, 202],
                   'Tamanho': ['Normal', '300mL','Médio'],
                   'Preço': [8.89, 25.79, 13.7]}

estoque_roberto = pd.DataFrame(estoque_roberto)
estoque_roberto

   Código  Nome_Produto  Qntd. Tamanho  Preço
0       1     Camisinha     20  Normal   8.89
1       2  Lubrificante     50   300mL  25.79
2       3     Plug Anal    202   Médio  13.70

In [16]:
novo_estoque = {'Código': [11], 'Nome_Produto': ['Camiseta Azul de Algodão'], 'Qntd.': [5], 'Tamanho': ['M'],'Preço': [60.00]}
novo_estoque = pd.DataFrame(novo_estoque)

estoque_roberto = pd.concat([estoque_roberto, novo_estoque], ignore_index=True)
estoque_roberto

   Código              Nome_Produto  Qntd. Tamanho  Preço
0       1                 Camisinha     20  Normal   8.89
1       2              Lubrificante     50   300mL  25.79
2       3                 Plug Anal    202   Médio  13.70
3      11  Camiseta Azul de Algodão      5       M  60.00