In [34]:
import pandas as pd

In [35]:
dictionary = {'Autores': ['Rick Riordan', 'J. R. R. Tolkien', 'Rick Riordan', 'Machado de Assis'],
        'Títulos': ['O Ladrão de Raios', 'A Sociedade do Anel', 'Mar de Monstros', 'Memórias Postumas de Brás Cubas'],
        'Preços': [41.2, 35.7, 39.5, 40.5]}

In [36]:
df = pd.DataFrame(dictionary)
df

            Autores                          Títulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5

In [44]:
# Filtrando pelo autor
mask = (df['Autores'] == 'Rick Riordan')
df[mask]

        Autores            Títulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [38]:
df

            Autores                          Títulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5

In [39]:
#Adicionando novos valores
new_df = {'Autores': ['George R. R. Martin'],'Títulos': ['Fogo e Sangue'],'Preços': [35.5]}
new_df = pd.DataFrame(new_df)
df = pd.concat([df, new_df], ignore_index=True)
df

               Autores                          Títulos  Preços
0         Rick Riordan                O Ladrão de Raios    41.2
1     J. R. R. Tolkien              A Sociedade do Anel    35.7
2         Rick Riordan                  Mar de Monstros    39.5
3     Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4  George R. R. Martin                    Fogo e Sangue    35.5

In [41]:
# Modificando um dado no DataFrame
mask_correção = (df['Títulos'] == "Fogo e Sangue")
df.loc[mask_correção, 'Títulos'] = 'As Crônicas de Gelo'
df

               Autores                          Títulos  Preços
0         Rick Riordan                O Ladrão de Raios    41.2
1     J. R. R. Tolkien              A Sociedade do Anel    35.7
2         Rick Riordan                  Mar de Monstros    39.5
3     Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4  George R. R. Martin              As Crônicas de Gelo    35.5

In [42]:
#M Modificando um valor no dado frame
mask_correção = (df['Preços'] == 35.5)
df.loc[mask_correção, 'Preços'] = 100.10
df

               Autores                          Títulos  Preços
0         Rick Riordan                O Ladrão de Raios    41.2
1     J. R. R. Tolkien              A Sociedade do Anel    35.7
2         Rick Riordan                  Mar de Monstros    39.5
3     Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4  George R. R. Martin              As Crônicas de Gelo   100.1

In [50]:
# Filtrando apenas o nome dos títulos, a partir do autor
df[df['Autores'] == 'Rick Riordan']['Títulos']

"""
Essa linha de código filtra o DataFrame 'df' para obter apenas as linhas onde o autor é "Rick Riordan" e, em seguida,
seleciona apenas a coluna 'Títulos', exibindo assim apenas os nomes dos títulos de Rick Riordan.
"""

0    O Ladrão de Raios
2      Mar de Monstros
Name: Títulos, dtype: object

0    O Ladrão de Raios
2      Mar de Monstros
Name: Títulos, dtype: object